.box {
    border: 1px solid pink;
    @include media($tablet) {
    }
}

/* Base Styles */

body {
    background: none;
    p {
        color: #000;
    }
}

hr {
    background-color: #000 !important;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Masthead */

.custom-logo-link {
    width: 150px;
    height: 40px;
    position: relative;
    img {
        visibility: hidden;
        display: none;
        opacity: 0;
    }
    &:before {
        content: "";
        position: absolute;
        background: url("images/logo.svg");
        background-repeat: no-repeat;
        background-size: 150px 40px;
        width: 150px;
        height: 100%;
    }
}

/* Mobile Styles */

@media screen and (max-width: 768px) {
    .site-branding {
        width: 120px;
    }

    #content .col-full {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    #masthead {
        background: transparent !important;
        margin: 0 !important;
        padding: 0 !important;
        padding-top: 10px !important;
        padding-bottom: 10px;
        margin-bottom: 10px !important;
        height: 55px !important;

        .col-full {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    /* Hide Breadcrumb*/
    .product-template-default {
        .storefront-breadcrumb {
            display: none !important;
            @include media($tablet) {
                display: block !important;
                margin: 0 0 1.618em;
                padding: 1em 0;
            }
        }
    }

    .single-product div.product {
        width: 100%;
    }

    /* Hide Whole Sidebar */
    #secondary {
        display: none;
    }

    .add_to_cart_button {
        border: 1px solid $black !important;
        background: none;
        text-transform: uppercase;
        font-size: 14px;
    }
    .woocommerce-product-gallery {
        margin-bottom: 20px !important;
    }
}

.button {
    border: 1px solid black;
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
}

// fields
input.input-text {
    border: 1px solid rgb(186, 186, 186);
}

/* Card CC bug */

#payment .payment_methods > .woocommerce-PaymentMethod > label,
#payment .payment_methods > .wc_payment_method > label {
    // display: flex;
}
