/*====================================
=            Trust Badges            =
====================================*/

.trust-badges {
    margin-top: 20px;
    background: rgba(#eee, 0.5);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    @include media($tablet) {
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    @include media($desktop) {
        justify-content: space-around;
    }

    > div {
        text-align: left;
        @include media($tablet) {
            width: 30%;
            max-width: 300px;
        }
    }
    strong {
        color: #000;
    }
    img {
        clear: all;
        width: 60px;
        margin-bottom: 20px;
    }
    &.attached-to-prod {
        margin-top: 20px;
        padding-bottom: 20px;
        strong {
            font-size: 12px;
            line-height: 14px;
        }
        p {
            font-size: 12px;
            line-height: 16px;
        }
        img {
            width: 40px;
        }
    }
}

.sku_wrapper,
.posted_in {
    font-size: 10px;
    line-height: 12px;
}

.posted_in {
    margin-bottom: 20px;
}

/*==============================
=            Footer            =
==============================*/

.site-footer {
    background: #fff;
    color: #000;

    @include media($desktop) {
        margin-left: 40px !important;
        margin-right: 40px !important;
        padding-bottom: 20px !important;
    }
}

.site-info {
    display: none;
}

.ssl {
    color: #12bc00;
    font-size: 16px;
}

.ssl {
    display: inline-block;
    color: #12bc00;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.footer-widgets {
    // border-bottom: none !;
    margin-bottom: 20px;
}

footer a {
    text-decoration: underline !important;
    color: #000 !important;
}

footer a:hover {
    text-decoration: underline;
    color: #000;
}

footer ul.menu li.current-menu-item > a,
footer ul.menu li a {
    color: #000 !important;
    text-decoration: underline !important;
}

footer ul.menu li {
    padding-left: 0 !important;
}

.widget-title {
    font-size: 18px !important;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 20px !important;
    padding: 0 !important;
    border-bottom: 2px solid $black !important;
    color: #000 !important;
    padding-bottom: 10px !important;
}

/*Fix icon padding and hide them*/

.widget_nav_menu ul li::before {
    display: none;
}

.widget_product_categories ul li::before {
    display: none;
}

/* Mail Chimp form */

#mc-embedded-subscribe-form {
    padding: 0;
}

#mc-embedded-subscribe-form input {
    background: #fff !important;
    border: 2px solid #000 !important;
    color: #000 !important;
    border-radius: 0px !important;
    width: 100% !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
}

#mc-embedded-subscribe-form form {
    padding-top: 0 !important;
}

#mc-embedded-subscribe-form input.button {
    width: 100% !important;
    max-width: none;
    font-weight: normal;
}

#wpstats {
    display: none;
}

.storefront-handheld-footer-bar {
    a {
        text-decoration: none !important;
    }
}

/* Infinite Scroll Transitions */

// .products .product-type-simple {
// 	transition: all .2s ease-in-out;
// 	opacity: 1;
// }
// .products .product-type-simple img {
// 	transition: all .2s ease-in-out;
// 	opacity: 1;
// }
