
/*==================================
=            Variables             =
==================================*/


$primaryColor: #000;
$primaryAlt: #000;

$secondaryColor: #000;
$secondaryAlt: #000;


$highlightColor: #000;
$highlightAlt: #000;

$white: #fff;
$black: #000;




/* Media Query Breakpoints */

$tablet: 768px;
$desktop: 1080px;
$full: 1480px;

$ipad-min: 768px;
$ipad-max: 1024px;

$ipadpro-min: 1024px;
$ipadpro-max: 1366px;

$ipad: ipads;
$ipads: ipads;